<ion-nav-view>
  <ion-header-bar class="bar bar-subheader" align-title="right">
    <button class="button button-light" ng-click="goBack()"><i class="icon menu-icon ion-chevron-left"></i> Back
    </button>
    <div ng-show="loading == true">
        <ion-spinner></ion-spinner>
    </div>
    <h2 class="title">Change Vehicle</h2>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <div class="item">
        <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            <b>Car Type</b>
          </div>
          <select ng-model="Reservation.vehicle.CarType">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><b>Car Plate</b></span>
          <input type="text" placeholder="Tap here..." ng-model="Reservation.vehicle.CarPlate">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><b>Owner</b></span>
          <input type="text" placeholder="Tap here..." ng-model="Reservation.vehicle.Owner">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label"><b>Car Manufacturer</b></span>
          <input type="text" placeholder="Tap here..." ng-model="Reservation.vehicle.CarManufacturer">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><b>Car Model</b></span>
          <input type="text" placeholder="Tap here..." ng-model="Reservation.vehicle.CarModel">
        </label>

      </div>
      </div>
    </div>
    <button class="button button-positive float right" ng-click=sendChanges(Reservation)>
        Send changes
      </button>
  </ion-content>
</ion-nav-view>
