<ion-nav-view>
  <ion-header-bar class="bar bar-subheader" align-title="right">
    <button class="button button-light" ng-click="goBack()"><i class="icon menu-icon ion-chevron-left"></i> Back
    </button>
    <h2 class="title">Found Reservations</h2>
  </ion-header-bar>
  <ion-content>
    <div class="list card" ng-repeat="Reservation in Reservations">

      <div class="item">
        <strong><span class="ion-android-calendar"></span> {{Reservation.crossing.Date}}</strong> <strong class="float right"><span class="ion-android-time"></span> {{Reservation.crossing.Time}}</strong>
        <p>
          <span class="subdued">{{Reservation.crossing.Departure}} ({{Reservation.crossing.Address}}) - {{Reservation.crossing.Destination}}</span>
        </p>
      </div>

      <div class="item item-body">
      <a class="float left" ng-click="editTraveller(Reservation)">
          Change traveller
        </a>
        <a class="float right" ng-click="editVehicle(Reservation)">
          Change vehicle
        </a>
        <div class="row">
          <div class="col">
            <i class="icon ion-person"></i> {{Reservation.traveller.Firstname}} {{Reservation.traveller.Lastname}} | {{Reservation.traveller.Birthday}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-document-text"></i> {{Reservation.traveller.Document}}/{{Reservation.traveller.DocumentNumber}} | {{Reservation.traveller.Citizenship}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-android-car"></i> {{Reservation.vehicle.CarPlate}} | {{Reservation.vehicle.CarManufacturer}} {{Reservation.vehicle.CarModel}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-briefcase"></i> {{Reservation.traveller.Company}}
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            <strong>Reservation Number</strong><br>
            {{Reservation._id}}
          </div>
        </div>
        <div class="item item-text-wrap">
          <img ng-src="../../img/clients/{{Reservation.flag}}" width="40" style="float:left; margin-right:10px;">
          <a class="subdued"> Data is transfered to {{Reservation.service_provider}}</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-nav-view>
