<ion-nav-view>
  <ion-header-bar class="bar bar-subheader" align-title="right">
    <button class="button button-light" ng-click="goBack()"><i class="icon menu-icon ion-chevron-left"></i> Back</button>
    <h2 class="title">Found Reservations</h2>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-thumbnail-left" href="#">
        <img src="img/clients/fi.png">
        <h2>Finnish Transport Agency</h2>
        <p>7 Crossing Points</p>
      </div>
      <div class="item item-thumbnail-left" href="#">
        <img src="img/clients/ru.png">
        <h2>Border Service of the Federal Security Service of the Russian Federation</h2>
        <p>8 Crossing Points</p>
      </div>
      <div class="item item-thumbnail-left" href="#">
        <img src="img/clients/no.png">
        <h2>Norwegian Customs Service</h2>
        <p>1 Crossing Point</p>
      </div>
    </div>
  </ion-content>
</ion-nav-view>
