<ion-nav-view>
  <ion-content padding="true" class="has-header">
    <ion-content class="padding">
          <h4>Welcome !</h4>
          <p>BorderPass allows you to reserve the date and time you will cross a border, along with all the information required by Border Officers, in order to speed up the process !</p>
          <h5> Try it now !<h5>
          <button class="button button-block button-positive" ng-click=goToReservation()><b>Reserve</b></button>
        </ion-content>
  </ion-content>
</ion-nav-view>
