<ion-nav-view>
  <ion-content padding="true" class="has-header">
    <ion-content class="padding">
          <h4>Welcome !</h4>
          <p>BorderPass allows you to reserve the date and time you will cross a border, along with all the information required by Border Officers, in order to speed up the process !</p>
          <p><b>It costs 0.99 € only !</b></p>
          <h5> Try it now !<h5>
          <button class="button button-block button-positive" ng-click=goTo('reserve')><h4 style="color: white;">Reserve</h4></button>
          <button class="button button-block button-positive" ng-click=goTo('myreservations')>My Reservations</button>
          <button class="button button-block button-positive" ng-click=goTo('aboutus')>About Us</button>
          <button class="button button-block button-positive" ng-click=goTo('preferences')>Preferences</button>
        </ion-content>
  </ion-content>
</ion-nav-view>
