<ion-nav-view>
  <ion-content padding="false" class="has-header has-footer">
    <img src="img/cop_fluid.jpg"style="width:100%">
    <p class="text-center padding">Cross border faster - Border Pass<br>
      <b>Border Reservation Cost - 0.99€!</b></p>
    <h4 class="text-center padding-top">Navigation</h4>
    <button class="home button button-full button-positive" menu-close="" ui-sref="reserve"><h4 style="color: white;">
          Reserve</h4></button>
        <button class="home button button-full button-positive" menu-close="" ui-sref="myreservations">My Reservations</button>
        <button class="home button button-full button-positive" menu-close="" ui-sref="aboutus">About Us</button>
        <button class="home button button-full button-positive" menu-close="" ui-sref="preferences">Preferences</button>
  </ion-content>
  <div class="bar bar-footer">
    <p class="text-center title" style="font-weight: 400 !important; font-size: 14px !important">&copy; Border Pass Team, 2017</p>
  </div>
</ion-nav-view>
