<ion-nav-view>
  <ion-header-bar class="bar bar-subheader" align-title="right">
    <h2 class="title">Reserve</h2>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
  <div class="padding">
	  <div ng-show="stage == 1">
	  <h4>From :</h4>
	    <ul ng-repeat="departure in departures">
	  		<li>
	  			<button class="button button-block button-stable" ng-click=saveDeparture(departure) style="padding:0px; overflow: hidden;">
	  			<img style="height:47px; width:80px;" align="left" src="img/flags/{{flags[$index]}}">
	  			<h4>{{departure}}</h4>
				</button>
	  		</li>
		</ul>
		</div>

		<div ng-show="stage == 2">
		  <h4>To :</h4>
		    <ul ng-repeat="destination in destinations">
	  		<li>
	  			<button class="button button-block button-stable" ng-click=saveDestination(destination) style="padding:0px; overflow: hidden;">
	  			<img style="height:47px; width:80px;" align="left" src="img/flags/{{flags[$index]}}">
	  			<h4>{{destination}}</h4>
				</button>
	  		</li>
		</ul>
		</div>

		<div ng-show="stage == 3">
		  <h4>By (City) :</h4>
		    <ul ng-repeat="address in addresses">
	  		<li>
	  			<button class="button button-block button-stable" ng-click=saveCrossing(address) style="padding:0px; overflow: hidden;">
	  			<h4>{{address}}</h4>
				</button>
	  		</li>
		</ul>
		</div>

		<div ng-show="stage == 4">
		  <h4>{{message}}</h4>
		  <h5>Here will come forms for personnal info... and that breadcrumb visuals on top</h5>
		</div>
	</div>
  </ion-content>
</ion-nav-view>
