<ion-nav-view>
  <ion-content padding="true">
    <ion-header-bar class="bar bar-subheader" align-title="right">
      <h2 class="title">About Us</h2>
    </ion-header-bar>
    <ion-content class="has-footer">
      <p class="padding">
        <strong>Border Pass Queueing Software</strong> is based on a licensing business model, designed in Oulu, Finland, developed in Talinn, Estonia.
      </p>
      <h4 style="text-align: center">Border Pass Software Bundle</h4>
      <div class="list">
        <div class="item item-avatar" href="#">
          <img src="img/sw/sw_web.png">
          <h2>WEB APPLICATION</h2>
          <p>Launch in your favourite browser</p>
        </div>
        <div class="item item-avatar" href="#">
          <img src="img/sw/sw_ios.png">
          <h2>IOS APPLICATION</h2>
          <p>Available in App Store</p>
        </div>
        <div class="item item-avatar" href="#">
          <img src="img/sw/sw_android.png">
          <h2>ANDROID APPLICATION</h2>
          <p>Available in Play Market</p>
        </div>
      </div>
      <ion-list>
        <ion-item ui-sref="#">Clients</ion-item>
        <ion-item ui-sref="#">License Agreement</ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-dark">
      <div class="title">Developed in EU</div>
    </div>
  </ion-content>

</ion-nav-view>
