<ion-nav-view>
  <ion-header-bar class="bar bar-subheader" align-title="right">
    <button class="button button-light" ng-if="!firstLevel" ng-click="goBack()"><i class="icon menu-icon ion-chevron-left"></i> Back</button>
    <h2 class="title">License Agreement</h2>
  </ion-header-bar>
  <ion-content class="padding">
    <strong>Terms</strong><br />&nbsp;&nbsp;<em>Border Pass</em>&nbsp;&ndash; information system for managing a common border queue<br />
    &nbsp;&nbsp;<em>Waiting line</em>&nbsp;&ndash; queue of the vehicles and persons in Border Pass database on the basis of which the border of the Republic of Estonia is crossed<br />
    &nbsp;&nbsp;<em>First priority queue</em>&nbsp;&ndash; this is formed by vehicles/ drivers, who have the right to
    cross the border in the first priority queue according to the State Borders Act &sect;8<sup>5</sup>&nbsp;(4)<br />
    &nbsp;&nbsp;<em>Reservation</em>&nbsp;&ndash; electronic place in the waiting line<br />&nbsp;&nbsp;<em>Making a reservation</em>
    &nbsp;&ndash; taking a place in the electronic waiting line<br />&nbsp;&nbsp;<em>&nbsp;Reservation time</em>&nbsp;&ndash;
    period of time chosen for going to the border checkpoint<br />&nbsp;&nbsp;<em>Pre-reservation</em>&nbsp;&ndash;
    reservation for a certain time (date, period of time)<br />&nbsp;&nbsp;<em>Living queue</em>&nbsp;&ndash; reservation
    at the first opportunity available<br />&nbsp;&nbsp;<em>Waiting area</em>&nbsp;&ndash; an official parking lot before
    the border, passing through of which is obligatory<br /><br /><strong>1. Purchase of services</strong><br />
    1.1. The main service of Border Pass is taking a place in the waiting line for crossing the border.<br />1.2.
    Additional services of Border Pass are:
      <p style="margin-left: 20px;">a. Waiting area service &ndash; the right to come to the official waiting area
        related to the border crossing point selected upon making the reservation and wait there for the call to the border.
        You have to pay for the Waiting Area Service and the prices are established by the holder of the Waiting Area;
        <br />b. Paid SMS notifications &ndash; SMS notifications sent automatically by Border Pass system to inform the
        driver of his/ her place in the queue and the need to appear in the waiting area and to the border.<br />c.
        Additional services used in the waiting area &ndash; additional services defined by the Waiting Area that can
        be ordered via Border Pass system.</p>
      1.3. Additional services and their prices have been coordinated by the Estonian Ministry of the Interior.<br />
    1.4. The services can be paid for via the Internet bank of Swedbank, SEB bank, Sampo and Nordea banks (bank link),
    by Visa- and Mastercard credit cards, from the Border Pass client account or as a mobile payment;<br />1.5. Prior to
    paying for the additional services, the buyer shall undertake to check the content of the added services and make
    sure that the content of the shopping cart complies with the actually desired services. Later settlements of
    accounts are not possible, except for the cases referred to in Clause 8.<br />1.6. If services or quantities have
    been added to the shopping cart by mistake, which are not the desired ones, the corresponding lines or quantities
    need to be cancelled in the shopping cart and filled with the right data.<br /><br /><strong>2. All motor vehicles,
    irrespective of the category, need to have a reservation for crossing the border</strong>&nbsp;<br />2.1. Border Pass
    system should not be used by passenger coaches or non-road mobile machinery, which are not motor vehicles according
    to the Traffic Act or Public Transport Act.<br />2.2. Police institution may allow the vehicle to cross the border
    checkpoint without taking a place in the waiting line, without waiting in the waiting line and without passing
    through the border crossing waiting area if this is for the sake of public order, state&rsquo;s security or people
    &rsquo;s health protection or if this is due to work-related need or it arises from the law, external contract or
    international custom or there is other public interest for that.<br /><br /><strong>3. Reservation can be made on
    the Internet, by phone or in the official waiting area</strong>&nbsp;<br />3.1. Reservation can be made up to 90 days
    in advance<br />3.2. The quickest and most convenient way for making the reservation is on the Internet on website
    <a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00"> Border Pass</a>&nbsp;or&nbsp;
    <a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00"> Border Pass</a>.
    <br />3.3. You can make a reservation by phone at number +372 698 9192.<br />3.4. In the waiting areas near the
    border, it is possible to register for the queue in self-service stands or with the help of a waiting area attendant.
    <br /><br /><strong>4. In order to make the reservation, the data of the driver&rsquo;s travel document and vehicle
    crossing the border need to be sent to the system and the period of time and border crossing point when and where you
    wish to cross the border need to be given to the system</strong><br />4.1. Upon making the reservation, you need
    to select the queue type for which reservation is made: a living queue or pre-reserved queue.<br />4.2. In case a
    commercial vehicle or a bus has several drivers, data of all the drivers need to be forwarded.<br />4.3. The basis
    of the reservation is a driver with the vehicle, in case of carriage of goods, a load of goods with MRN number.<br />
    4.4. Commercial vehicles need to provide the MRN number of the customs document upon making the reservation or
    declare that they will cross the border without a cargo.<br />4.5. Data collection and processing are regulated
    by the State Borders Act and Database Statutes of Border Crossing Waiting Line.<br />4.6. At least half of the gross
    weight of the vehicle arriving at the waiting area, has to be declared on the same day a driver makes a booking in
    the border crossing electronic queue, or earlier.<br /><br /><strong>5. Driver of a vehicle and each vehicle can have
    only one reservation at a time</strong><br />5.1. As an exception, driver of a C category vehicle, who has a
    reservation, can have an additional reservation for an A or B category vehicle or with unique MRN number can have
    an additional reservation for a C category vehicle.<br /><br /><strong>6. In order to make a reservation in the
    queue of the first priority, you need to specify the legal basis for applying for the queue of the first priority
  </strong><br />6.1. In case there is a difference between the driver and the fellow traveller, the driver of the vehicle
    needs to enter also the data of the fellow traveller upon making the reservation.<br />6.2. According to Clauses
    of State Borders Act &sect;85 , a place can be applied for in the queue of the first priority by:
      <p style="margin-left: 20px;">&bull; a vehicle that has a member of an international delegation, an employee of
        foreign states diplomatic representation or a consular post on board<br />&bull; a vehicle which carries goods
        that are listed in the register of time-sensitive goods established on the basis of the Customs Act &sect;59 1
        subsection 2 (currently valid register of time-sensitive goods )<br />
        &bull; a vehicle which has the right to cross the border in the queue of the first priority due to an
        international agreement or external contract<br />&bull; A and A1 category motorcycle</p>
      In other exceptional cases, queue of the first priority can be applied for in the waiting area where the Police
    and Border Guard Board decides the queue of the first priority on the basis of how justified the application is.<br />
    <br />6.3. Keep in mind that in order to use the priority queue line, all goods inside the vehicle, have to belong
    to a time-sensitive product group.<br /><br /><strong>7. You have to pay for making a reservation</strong><br />7.1.
    In 2016, making a reservation costs 1.50 EUR according to the price list.<br />7.2. The price list of the services is
    available at&nbsp;<a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00">
    Border Pass</a>&nbsp;or&nbsp;<a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00">
    Border Pass</a>&nbsp;.<br />7.3. It is possible to pay by a bank link or credit card on the homepage.
    <br />7.4. Paying by phone, it is possible to use a credit card or make a mobile payment. In case of a mobile
    payment, confirmation is asked during the call and the reservation fee is added to the phone bill.<br />7.5.
    It is possible to pay in cash or by a bank card in the waiting area.<br />7.6. Reservation will be valid after
    making the payment.<br />7.7. After a successful reservation, a one-time free notification is sent by e-mail, SMS
    or phone in accordance with the means selected by the client.<br />7.8. It is possible to get free information about
    reservation, expected waiting time in the queue and expected time of being transferred from the waiting area to the
    border crossing point on the websites:<a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00">
    Border Pass</a>&nbsp;and&nbsp;<a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00">
    Border Pass</a><br />7.9. It is possible to order extra notification by e-mail, SMS or phone as a paid additional
    service.<br /><br /><strong>8. Refund of the fee</strong><br />8.1. The fee for Border Pass main service, i.e. for
    taking in the border crossing queue is non-refundable (basis: State Borders Act &sect;8).<br />8.2. It is possible
    to cancel the purchased waiting area service and other additional services and leave the fee as a prepayment or
    apply for refund of the fee until the specified arrival in the waiting area.<br />8.3. Prepayment can be used for
    ordering Border Pass services within 6 months as from the cancellation of the services.<br />8.4. Cancellation of the
    services and refunding of the fee is performed on the basis of the application filled in on the Internet. The
    corresponding instructions can be found at:<a style="color: #2277bb; text-decoration: none;" href="www.students.oamk.fi/~t5zaro00">
    Border Pass</a>&nbsp;.<br />8.5. In case of cancellation of additional services,
    the whole amount paid is not refunded. 2 EUR of refunding cost shall not be refunded. In case you have partly or
    fully used the services, the fee shall not be refunded. In case the total amount of the services is smaller than 2
    EUR, the fee shall not be refunded.<br />8.6. Full fee shall be refunded if the service could not be used due to the
    fault of the waiting area or Border Pass. Other exceptional cases that do not make it possible to use or change the service
    duly shall be handled each case separately.<br />8.7. The client my make allowed changes instead of cancelling the
    service, if required.<br />8.8. The refundable sum shall be transferred on the client&rsquo;s bank account in the
    Estonian bank within 30 days as from sending the client a confirmation regarding receipt of the application and
    refundable sum.<br /><br /><strong>9. Reservation can be changed not more than 3 times and not later than 3 hours
    before the reservation time</strong><br />9.1. When changing the reservation, the border crossing point and the
    corresponding waiting area will be the same.<br />9.2. No additional notifications shall be sent in case of changing
    the reservation.<br />9.3. In case of A, B and D category vehicles, only reservation time can be changed.<br />
    9.4. In case of C category vehicles, reservation time, driver and vehicle can be changed provided that the MRN
    number of the customs document will not change. It is not allowed to add an MRN number to an existing reservation
    or change it.<br /><br /><strong>10. All the vehicles need to pass through the waiting area before being sent to
    the border checkpoint</strong><br />10.1. A, B and D category vehicles with reservation need to arrive in the waiting
    area by the beginning of their reservation time at the latest, C category vehicles need to arrive in the waiting
    area 3 hours before the reservation time.<br />10.2. In order to register arrival in the waiting area, the driver
    needs to give the vehicle and driver&rsquo;s documents to the waiting area employee.<br />10.3. The driver shall
    receive information in the waiting area about the time when s/he is sent to the border checkpoint.<br />10.4.
    Only a vehicle sent to the border checkpoint from the waiting area will be allowed to the border. No reservation
    can be made at the border crossing point.<br />10.5. Reservation shall be automatically cancelled by the system if
    the vehicle has not appeared in the waiting area by the reservation time or if the vehicle cannot reach the border
    from the waiting area within a reasonable period of time.<br />10.6. Reservation shall be cancelled also in case
    wrong data have been submitted when making the reservation.<br /></div>

  </ion-content>
</ion-nav-view>
