<ion-nav-view>
  <ion-header-bar class="bar bar-subheader" align-title="right">
    <h2 class="title">Preferences</h2>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Language
        </div>
        <select>
          <option selected>English</option>
          <option>Русский</option>
          <option>Suomi</option>
          <option>Norge</option>
        </select>
      </label>
      <button class="button button-block button-calm" ng-class="{disabled: pers_data_deletable == true}" ng-click=deletePersonData()>Clear Forms Data</button>
      <button class="button button-block button-calm" ng-class="{disabled: res_nums_deletable == true}" ng-click=deleteResNums()>Clear Reservation Numbers</button>
    </div>
  </ion-content>
</ion-nav-view>

