/* Generic rules */
.float.right {
  float: right;
}

/* Fixed for the display of buttons in a button bar (myreservations page) */
.fixed.button {
  border-left-color: #a2a2a2;
}

/* Set minimum height for an input in forms */
label.item.item-input {
  min-height: 50px;
}

/* Fix button styling for the home page */
.home.button.button-positive{
  border-color: #73a4f8;
}
.home.button.button-block, .button.button-full {
  margin-bottom: 0;
  margin-top: 0;
}

/* Fix the location of the main logo */
.main.logo {
  position: relative;
  margin-top: 5px;
  padding-right: 8px;
}

/* Menu buttons size-location */
.menu-icon {
  font-size: 16px !important;
}

/* Align the icons in breadcrumbs located at reserve page footer */
.breadcrumb.footer.icon {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 6px;
}

.button_footer.active {
  background-image: url('../img/selected.png');
  background-position: center;
  background-size: 100%;
  border: 0px;
  background-color: #f8f8f8;
}

a.button_footer {

}

a.button_footer.ion-clock {
  font-size: 20px;
}

a.button_footer.ion-person {
  font-size: 20px;
}

a.button_footer.ion-model-s {
  font-size: 20px;
}

a.button_footer.ion-forward {
  font-size: 20px;
}

